<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Car Dealership</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h3>Add a new car!</h3>
  <form action="/cars" method="post">
    <label for="makeModel">Make and Model</label>
    <input id="makeModel" name="makeModel" type="text">
    <label for="price">Price</label>
    <input id="price" name="price" type="number">
    <label for="miles">Miles</label>
    <input id="miles" name="miles" type="number">
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to Home</a>
</body>

</html>